@font-face {
  font-family: "Norse-Bold";
  src: url("norse-bold-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  display: flex;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.left {
  height: 100%;
  width: 40%;
  position: relative;
  background-image: url("./files/ferns.webp");
  background-size: cover;
  background-position: center;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.397);
  position: absolute;
  top: 150px;
  z-index: 2;
}

.overlay p {
  font-family: "Norse-Bold";
  color: white;
  z-index: 2;
  font-size: 4em;
  
}

#logo {
  width: auto;
  height: 80%;
  bottom: 0;
  z-index: 2;
  
}

.leaf-img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

figcaption {
  width: 100%;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: white;
  font-size: 0.7em;
  font-weight: normal;
  font-family: sans-serif;
}

figcaption a {
  color: white;
}

.right {
  position: relative;
  justify-content: space-between;
  background-color: #f9fafb;
}


.textbox {
  width: 600px;
  margin-top: 100px;
  margin-left: 40px;
}

.textbox p {
  margin-top: 10px;
  width: 600px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  
}
.middle {
  flex: 1;
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-top: 40px;
  padding: 10px 40px 20px;
}

.middle h2 {
  font-size: 1em;
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  
}

label,
input {
  display: block;
}


.formrow {
  display: flex;
}

.formitem {
  margin-right: 50px;
  margin-top: 12px;
}

label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.5em;
  font-weight: 600;
  margin-top: 5px;
}

input {
  border: 1px solid #e5e7eb;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.75em;
  width: 185px;
  

}

input:focus {
  border: 1px solid #718fe3;
  outline: none;
  box-shadow:rgba(0, 0, 0, 0.15) 2px 2px 2px 0px;
}

.bottom {
  flex: 1;
  background-color: #f9fafb;
}

button {
  background-color: #596D48;
  color: white;
  margin-top: 25px;
  margin-left: 40px;
  padding: 10px 40px 12px 40px;
  border-radius: 6px;
  outline: none;
  border: none;
  box-shadow: #e0e1e1 2px 2px 5px 0px;
  font-size: 0.8rem;
  font-weight: 600;
}

.button-text {
  margin-left: 40px;
  margin-top: 30px;
  font-size: 0.8rem;
}

.button-text a {
  color: #596d48;
  text-decoration: none;
}